# File: azure-pipelines\maven-release\adal-maven-release.yml
# Description: Publish adal to maven central (sonatype)
# https://search.maven.org/search?q=g:com.microsoft.aad%20AND%20a:adal
# Variable 'AdalVersion' was defined in the Variables tab
# Variable: 'ENV_VSTS_MVN_ANDROIDADAL_USERNAME' was defined in the Variables tab
# Variable: 'mvnAccessToken' was defined in the Variables tab
# https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/use-personal-access-tokens-to-authenticate
name: $(date:yyyyMMdd)$(rev:.r)

trigger: none
pr: none

resources:
  repositories:
  - repository: self
    type: git
    ref: master
  - repository: common
    type: github
    name: AzureAD/microsoft-authentication-library-common-for-android
    ref: pedroro/release-pipelines
    endpoint: ANDROID_GITHUB

jobs:
- template: azure-pipelines/templates/steps/maven-release/maven-release-jobs.yml@common
  parameters:
    project: adal
    projectVersion: $(AdalVersion)
    checkoutSubmodules: recursive
    envVstsMvnAndroidAccessTokenVar: ENV_VSTS_MVN_ANDROID_ADAL_ACCESSTOKEN
    gradleAssembleReleaseTask: adal:clean adal:assembleDist adal:javadocJar
    gradleGeneratePomFiletask: adal:generatePomFileForAdalPublication
    aarSourceFolder: C:\Temp\s\adal\outputs\aar
    jarSourceFolder: C:\Temp\s\adal\outputs\jar
    pomSourceFolder: C:\Temp\s\adal\publications\adal
    gpgAar: true
    gpgSourcesJar: true
    gpgJavadocJar: true
    gpgJar: false
