[alias]
	hello = "!echo \"Hello World\""
	androidSetup = "!f() { \
		git clone -b dev https://github.com/AzureAD/microsoft-authentication-library-for-android.git msal; \
		git clone -b dev https://github.com/AzureAD/microsoft-authentication-library-common-for-android.git common; \
		git clone -b dev https://github.com/AzureAD/azure-activedirectory-library-for-android.git adal; \
		git clone -b dev https://github.com/AzureAD/ad-accounts-for-android.git broker; \
		cd msal; git submodule init; git submodule update; cd ..; \
		cd adal; git submodule init; git submodule update; cd ..; \
		cd broker; git submodule init; git submodule update; cd ..; \
		workDir=$(pwd); \
		git config --replace-all androidcomplete.workDir $workDir; \
		}; f"
	updateCommon = "!f() { \
			workDir=$(git config --get androidcomplete.workDir); \
			cd $workDir; \
			cd common; commonRevision=$(git rev-parse HEAD); cd ..;\
			echo $commonRevision; \
			cd $workDir/adal/common; git fetch origin; git checkout $commonRevision; \
			cd $workDir/msal/common; git fetch origin; git checkout $commonRevision; \
			cd $workDir/broker/common; git fetch origin; git checkout $commonRevision; \
		}; f"
