[push]
    default = simple
[alias]
	hello = "!echo \"Hello World\""
	droidSetup = "!f() { \
		git clone -b dev https://github.com/AzureAD/microsoft-authentication-library-for-android.git msal; \
		git clone -b dev https://github.com/AzureAD/microsoft-authentication-library-common-for-android.git common; \
		git clone -b dev https://github.com/AzureAD/azure-activedirectory-library-for-android.git adal; \
		git clone -b dev https://github.com/AzureAD/ad-accounts-for-android.git broker; \
		git clone -b working https://msazure.visualstudio.com/DefaultCollection/One/_git/AD-MFA-phonefactor-phoneApp-android authenticator; \
        git clone -b dev https://github.com/Azure-Samples/ms-identity-android-java.git azuresample; \
        git clone -b dev https://office.visualstudio.com/DefaultCollection/OneAuth/_git/OneAuth oneauth; \
        git clone -b develop https://github.com/AzureAD/microsoft-authentication-library-for-cpp.git msalcpp; \
        git clone -b master https://onedrive.visualstudio.com/DefaultCollection/SkyDrive/_git/AndroidTokenShare tsl; \
		cd msal; git submodule init; git submodule update; cd ..; \
		cd adal; git submodule init; git submodule update; cd ..; \
		cd broker; git submodule init; git submodule update; cd ..; \
		cd authenticator; git submodule init; git submodule update; cd ..; \
		workDir=$(pwd); \
		git config --replace-all androidcomplete.workDir $workDir; \
		}; f"
	droidUpdateCommon = "!f() { \
			workDir=$(git config --get androidcomplete.workDir); \
			cd $workDir; \
			cd common; commonRevision=$(git rev-parse HEAD); cd ..;\
			echo $commonRevision; \
			cd $workDir/adal/common; git fetch origin; git checkout $commonRevision; \
			cd $workDir/msal/common; git fetch origin; git checkout $commonRevision; \
			cd $workDir/broker/common; git fetch origin; git checkout $commonRevision; \
		}; f"
	droidStatus = "!f() { \
	        RED='\\033[0;31m'; \
	        NC='\\033[0m'; \
            workDir=$(git config --get androidcomplete.workDir); \
            cd $workDir/adal/; printf "${RED}ADAL${NC}"; printf ": "; git fetch origin; git status; \
            cd $workDir/msal/; printf "${RED}MSAL${NC}"; printf ": "; git fetch origin; git status; \
            cd $workDir/broker/; printf "${RED}BROKER${NC}"; printf ": "; git fetch origin; git status; \
            cd $workDir/common/; printf "${RED}COMMON${NC}"; printf ": "; git fetch origin; git status; \
            cd $workDir/oneauth/; printf "${RED}ONEAUTH${NC}"; printf ": "; git fetch origin; git status; \
            cd $workDir/msalcpp/; printf "${RED}MSALCPP${NC}"; printf ": "; git fetch origin; git status; \
            cd $workDir/tsl/; printf "${RED}TSL${NC}"; printf ": "; git fetch origin; git status; \
        }; f"
    droidNewFeature = "!f() { \
            workDir=$(git config --get androidcomplete.workDir); \
            cd $workDir/adal/; git checkout -b $1 dev; \
            cd $workDir/msal/; git checkout -b $1 dev; \
            cd $workDir/broker/; git checkout -b $1 dev; \
            cd $workDir/common/; git checkout -b $1 dev; \
            cd $workDir/msalcpp/; git checkout -b $1 develop; \
        }; f"
    droidCheckout = "!f() { \
          workDir=$(git config --get androidcomplete.workDir); \
          cd $workDir/adal/; git checkout $1; \
          cd $workDir/msal/; git checkout $1; \
          cd $workDir/broker/; git checkout $1; \
          cd $workDir/common/; git checkout $1; \
          cd $workDir/msalcpp/; git checkout $1; \
      }; f"
    droidPull = "!f() { \
              workDir=$(git config --get androidcomplete.workDir); \
              cd $workDir/adal/; git pull; \
              cd $workDir/msal/; git pull; \
              cd $workDir/broker/; git pull; \
              cd $workDir/common/; git pull; \
              cd $workDir/msalcpp/; git pull; \
          }; f"
    droidStash = "!f() { \
            workDir=$(git config --get androidcomplete.workDir); \
            cd $workDir/adal/; git stash $1; \
            cd $workDir/msal/; git stash $1; \
            cd $workDir/broker/; git stash $1; \
            cd $workDir/common/; git stash $1; \
            cd $workDir/msalcpp/; git stash $1; \
        }; f"
    droidUpdateVersionsGradle = "!f() { \
            workDir=$(git config --get androidcomplete.workDir); \
            git droidNewFeature android/update-versions-gradle; \
            cp $workDir/gradle/versions.gradle $workDir/adal/gradle; \
            cp $workDir/gradle.properties $workDir/adal; \
            cp $workDir/gradle/wrapper/gradle-wrapper.properties $workDir/adal/gradle/wrapper; \
            cp $workDir/gradle/versions.gradle $workDir/broker/gradle; \
            cp $workDir/gradle.properties $workDir/broker; \
            cp $workDir/gradle/wrapper/gradle-wrapper.properties $workDir/broker/gradle/wrapper; \
            cp $workDir/gradle/versions.gradle $workDir/common/gradle; \
            cp $workDir/gradle.properties $workDir/common; \
            cp $workDir/gradle/wrapper/gradle-wrapper.properties $workDir/common/gradle/wrapper; \
            cp $workDir/gradle/versions.gradle $workDir/msal/gradle; \
            cp $workDir/gradle.properties $workDir/msal; \
            cp $workDir/gradle/wrapper/gradle-wrapper.properties $workDir/msal/gradle/wrapper; \
            cp $workDir/gradle/versions.gradle $workDir/msalcpp/source/android/msal/gradle; \
            cp $workDir/gradle.properties $workDir/msalcpp/source/android/msal; \
            cp $workDir/gradle/wrapper/gradle-wrapper.properties $workDir/msalcpp/source/android/msal/gradle/wrapper; \
        }; f"
    droidAssembleAllRootProjects = "!f() { \
            workDir=$(git config --get androidcomplete.workDir); \
            cd $workDir/adal; ./gradlew.bat assemble; \
            cd $workDir/broker; ./gradlew.bat assemble; \
            cd $workDir/common; ./gradlew.bat assemble; \
            cd $workDir/msal; ./gradlew.bat assemble --PabiSelection=x86; \
            cd $workDir/msalcpp/source/android/msal; ./gradlew.bat assemble; \
        }; f"
