# Ignore Gradle project-specific cache directory
.gradle

# Android Studio memory dump file.
.hprof

# Ignore existing repos held under the same structure
msal
adal
broker
common
authenticator
azuresample
oneauth
tsl
msalcpp

# Gradle files
.gradle/
build/

# IntelliJ
*.iml
.idea
.vscode
.settings
.project

# Local configuration file (sdk path, etc)
gradle.properties
local.properties

#nodejs
node_modules

# OSX file
.DS_Store

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Folder config file
[Dd]esktop.ini

out/
