<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.microsoft.aad.adal"
          android:versionCode="1"
          android:versionName="0.1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <application>
        <activity android:name="com.microsoft.aad.adal.AuthenticationActivity" >
        </activity>
        
    </application>
    
    

</manifest>