<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.aad.adal" >

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme" >
        android:supportsRtl="true">
        <activity android:name=".AuthenticationActivity" >
        </activity>
    </application>

</manifest>
